.body {
   min-height: fit-content;
   height :1200rem;
   width: 100vw;
   padding:0;  
   margin: 0;
   max-height: fit-content;
   display: inline-block ; 
   justify-content: center;
  background: #141010; 
}
.clock{  
   position: sticky;
   opacity: .72;
   display: inline-flex;
background: radial-gradient(circle, rgba(0,0,0,1) 78%, rgba(104,7,71,1) 100%);    top: 0px;   
   height: 100vh;
   /* make the width dynamic with the age of the user to fill the page with color. */
   width: calc(33% );
   align-self: flex-start;
   justify-self: center;
}
.time {
    position: absolute;
    top: 50%;
    left: 50%;
      transform: translateX(-50%) translateY(-50%);
    color: #f70776;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px
}

.bar1{
   display: inline-block;
   justify-content: center;
   height: 100vh;
   width: 20px;
   border-right:  27px  green ;  
   box-shadow: 10px 5px 5px rgb(255, 255, 255);}

.container_of_ticks{   
   margin-block: 10px;
   color: wheat        ;
   position: absolute ;
   top: .3 ;
   width: 300px;
   border-top: solid 17px  #f70776; 
   border-radius: 320px 320px 320px 320px ;
}